.bg-negro {
    background-color: #000000;
}


.viajes { 
    font-size: medium; 
}

#color_linea {
    text-decoration: underline;
    text-decoration-color: red;

}

.features {
    color: white;
}
p {
    text-align: justify;
}
.color_icono {
    color:white;
}